/*doc
---
parent: frame
title: Small Frame
name: frameSmall
test: true
---

```html_example
<div class="frameSmall">
  <img alt="" src="http://placekitten.com/180/135">
  <div class="polaroid" style='width:181px;'>
    <p class="mvn">Here's a little text below the image</p>
  </div>
</div>
```
*/


// FrameSmall Mixin
@mixin ooFrameSmall {

  .frameSmall {
    @extend %frame;
    padding: 6px;
  }
}
