/*doc
---
parent: frame
title: Standard Frame
name: frameStandard
test: true
---

```html_example
<div class="frameStandard">
  <img alt="" src="http://placekitten.com/640/480">
</div>
```
*/


// FrameStandard Mixin
@mixin ooFrameStandard {
  
  .frameStandard {
    @extend %frame;
    padding: 8px;
  }
}

