/*doc
---
title: Link
name: link
category: Base CSS
test: true
---

Styles applied to anchor elements to provide alternative colors and indicators.

Style                                                                                                | Class              | Description
---------------------------------------------------------------------------------------------------- | ------------------ | -----------
<a href="#">Default Link</a>                                                                         |                    | Default style for links
<a class="linkLowlight" href="#">Lowlight Link</a>                                                   | `linkLowlight`     | Deemphasized link color
<div class="backgroundHighlight"><a class="linkTypeReversed" href="#">Type Reversed Link</a></div>   | `linkTypeReversed` | Type reversed link color
<a class="linkForward" href="#">Link Forward</a>                                                     | `linkForward`      | Handy for links that indicate a forward direction (such as progressing through steps).
<a class="linkBack" href="#">Link Back</a>                                                           | `linkBack`         | Handy for links that indicate a backward direction (such as going through completed<br/>steps or a results page from a detail page).

```html_example
<a class="linkLowlight" href="#">Lowlight Link</a>
<a href="#" class="linkForward">Link Forward</a>
<a href="#">Default Link</a>
<a href="#" class="linkBack">Link Back</a>
```

*/

// Common link style placeholder
%commonLinkStyles {
  text-decoration: none;
}

// Link Mixin
@mixin ooLink() {

  // Default Link
  a {
    color: $linkColor;
    outline: 0; // get rid of the annoying outline in firefox
    @extend %commonLinkStyles;
    @include transition(all .15s ease-in-out);

    &:hover,
    &:focus {
      color: $linkHoverColor;
      @extend %commonLinkStyles;
    }
  }

  // Lowlight Link
  .linkLowlight {
    color: $lowlightLinkColor;
    @extend %commonLinkStyles;

    &:hover,
    &:focus {
      color: $lowlightLinkHoverColor;
    }
  }

  // Reversed Link
  .linkTypeReversed {
    color: $reversedTypeColor;
    @extend %commonLinkStyles;

    &:hover,
    &:focus {
      color: $reversedTypeColor;
    }
  }

  // Directional Links
  .linkForward:after {
    margin-left: pxToEm(5, 14);
    content: "\00BB"; // Right double arrow
  }

  .linkBack:before {
    margin-right: pxToEm(5, 14);
    content: "\00AB"; // left double arrow
  }

} // ooLink
