/*doc
---
title: Inline Form Group
category: Forms
name: forms_g_fieldGroupInline
---

Use `fieldGroupInline` on `ul` if the list of form fields are related and inline.

##List of inline radio buttons

```html_example
<h5>List of inline radio buttons</h5>
<form class="form">
  <div class="field">
    <label class="fieldLabel">Select your options</label>
    <ul class="fieldGroup fieldGroupInline">
      <li>
        <span class="fieldItem radio">
          <input type="radio" id="radiogroupinline1" name="radioinlinegroup">
          <label for="radiogroupinline1">Label for radio button</label>
        </span>
      </li>
      <li>
        <span class="fieldItem radio">
          <input type="radio" id="radiogroupinline2" name="radioinlinegroup">
          <label for="radiogroupinline2">Label for radio button</label>
        </span>
      </li>
      <li>
        <span class="fieldItem radio">
          <input type="radio" id="radiogroupinline3" name="radioinlinegroup">
          <label for="radiogroupinline3">Label for radio button</label>
        </span>
      </li>
    </ul>
  </div>
</form>
```

##List of inline checkboxes

```html_example
<form class="form">
  <div class="field">
    <label class="fieldLabel">Select your options</label>
    <ul class="fieldGroup fieldGroupInline">
      <li>
        <span class="fieldItem checkbox">
          <input type="checkbox" id="radioblock1" name="checkboxinlinegroup">
          <label for="radioblock1">Label for checkbox</label>
        </span>
      </li>
      <li>
        <span class="fieldItem checkbox">
          <input type="checkbox" id="radioblock2" name="checkboxinlinegroup">
          <label for="radioblock2">Label for checkbox</label>
        </span>
      </li>
      <li>
        <span class="fieldItem checkbox">
          <input type="checkbox" id="radioblock3" name="checkboxinlinegroup">
          <label for="radioblock3">Label for checkbox</label>
        </span>
      </li>
    </ul>
  </div>
</form>
```

##List of inline textboxes

```html_example
<form class="form">
  <div class="field">
    <label class="fieldLabel">Your email address</label>
    <ul class="fieldGroup fieldGroupInline">
      <li>
        <label for="textboxinline1">Email address 0</label>
        <span class="fieldItem text">
          <input type="text" id="textboxinline1">
        </span>
      </li>
      <li>
        <label for="textboxinline2">Email address 1</label>
        <span class="fieldItem text">
          <input type="text" id="textboxinline2">
        </span>
      </li>
      <li>
        <label for="textboxinline3">Email address 2</label>
        <span class="fieldItem text">
          <input type="text" id="textboxinline3">
        </span>
      </li>
    </ul>
  </div>
</form>
```

*/


// Form Class
.form {
  
  .fieldGroupInline {
    @extend %formContext;

    > li {
      margin-left: 10px;
      float: none;
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }

      > label {
        display: inline-block;
        margin: 0;
      }
    }

    label,
    .fieldItem {
      vertical-align: middle;
      float: none;
      display: inline-block;
      width: auto;
    }

    //extra padding for just inline group labels
    label {
      padding-right: 5px;
    }

    .radio,
    .checkbox {
      input {
        top: auto;
        float: none;
        vertical-align: middle;
      }

      label {
        padding-left: 0;
      }
    }
  }
}
