/*doc
---
title: Images
name: images
category: Base CSS
---

Various effect when applied to the <img> tag

Class                | Description
-------------------- | -----------------
`desaturate`         | Make an image black and white
`deemphasize`        | Deemphasize an image by reduce its opacity
`noOverfow`          | Sets max-width to 100%


```html_example
<div style="width: 180px;">
  <img class="desaturate deemphasize" src="http://placekitten.com/180/135">
</div>
```

*/

img.desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

img.deemphasize {
  @include opacity(0.3);
}

img.noOverflow {
  max-width: 100%;
}
