/*doc
---
title: Overlay
name: overlay
category: Components
---

Occasionally you need some text that shows on top of an image, so in that case use an overlay class.

*/


// Overlay Mixin
@mixin ooOverlay {
  .overlayContainer {
    position: relative;
    display: block;
    width: inherit \9; // In IE8 this keeps this container from taking up more width than its parent container.

    img {
      display: block;
    }
  }

  %overlay {
    position: absolute;
    opacity: 1;
    z-index: 5;
  }
}
