/*doc

---
title: Typography
name: typography
category: Base CSS
---

*/


// Set to true for debug
$debugTypography: false;

// px to rem Converter
@function calculateRem($size) {
  $remSize: $size / $rootFontSize; //Font size you set on <html> element
  @return #{$remSize}rem;
}

// Font Size with rem
@mixin fontSize($size) {
  font-size: $size;
}

// Typeography Mixin
@mixin ooTypography($name, $size, $lineHeight) {
  // Create a placeholder to use in other places
  %#{$name} {
    @include fontSize($size);
    line-height: $lineHeight;
    margin: 5px 0;
  }
  // Create the re-usable class
  .#{$name} {
    @extend %#{$name};
  }
}

// Debug
@if $debugTypography {
  body {
    background: {
      color: #fff;
      image: -webkit-linear-gradient(transparent 50%, rgba(0,0,0,.1) 50%);
      size: $baseLineHeight*2 $baseLineHeight*2;
    }
  }
}
