/*doc
---
title: Ad Sizes
parent: ad
name: adSkins
author: August Flanagan
---

Class         |  Description
------------- | ------------
ad300x250     | This is a standard ad container with dimensions of 300px by 250px
ad300x250flex | This ad container has a minimum size of 300px by 250px but can expand vertically for taller ads (such as on the SRP top right).
ad300x100     | Small-ish ad size
ad160x600     | Skyscraper ad sie
ad728x90      | Banner ad size
ad976x32      | Pencil ad size
ad650x30      | Shorter Pencil ad size of 650px by 30px

```html_example
<div class="ad300x250">
  <img alt="" src="http://placehold.it/350x250/5eab1f/ffffff/&text=Buy+this+cat!">
</div>
```

*/


// Ad Container
@mixin adContainer($width, $height) {
  .ad#{$width}x#{$height} {
    @extend %ad;
    width: #{$width}px;
    height: #{$height}px;
  }
}

@mixin ooAdSkins {
  @include adContainer(300, 250);
  @include adContainer(300, 100);
  @include adContainer(160, 600);
  @include adContainer(728, 90);
  @include adContainer(976, 32);
  @include adContainer(650, 30);
  
  .ad300x250flex {
    @extend %ad;
    width: 300px;
    min-height: 250px;
  }
}
