/*doc
---
parent: list
name: listBorderedSkins
title: Borders on Lists
test: true
---

```html_example
<ul class="listBordered">
  <li>First list item</li>
  <li>Second list item</li>
  <li class="listHoverItem">Third list item</li>
</ul>
```

###Bordered List with Hover
```html_example
<ul class="listBorderedHover">
  <li>First list item</li>
  <li>Second list item</li>
  <li>Third list item</li>
</ul>
```

[[[plugin:css-test
<ul class="listBordered">
  <li>First list item</li>
  <li>Second list item</li>
  <li class="listHoverItem">Third list item</li>
</ul>
]]]

*/


// ListBordered Mixin
@mixin ooListBordered() {

  .listBordered,
  .listBorderedHover {

    > li {
      padding: 10px;
      border-top: 1px solid $listBorderedDividerColor;

      &:first-child {
        border-top: 1px solid transparent;
      }
    }
  }

  .listBorderedHover {

    > li {
      margin: 0;
      @include transition(all .15s ease-in-out);

      &:hover {
        background-color: $listHoverBackgroundColor;
      }
    }
  }

  .listHoverItem {
    background-color: $listHoverBackgroundColor;
  }
}
