/*doc
---
parent: list
name: listInlineDivider
title: Inline Lists with dividers
test: true
---

```html_example
<ul class="listInlineDivider">
  <li>First list item</li>
  <li>Second list item</li>
  <li>Third list item</li>
</ul>
```

*/


// ListInlineDivider Mixin
@mixin ooListInlineDivider {
  
  .listInlineDivider {
    
    > li {
      border-left: solid 2px $listInlineDividerColor;
      padding: 0 10px;
      display: inline-block;
      
      &:first-child {
        border: none;
        padding-left: 0;
      }
    }
  }
}
