/*doc
---
parent: list
name: listInline
title: Inline Lists
test: true
---

```html_example
<ul class="listInline">
  <li>First list item</li>
  <li>Second list item</li>
  <li>Third list item</li>
</ul>
```

*/


// ListInline Mixin
@mixin ooListInline() {
  
  .listInline > li {
    vertical-align: middle;
    padding-right: 10px;
    display: inline-block;
  }
}
