/*doc
---
parent: list
name: listInlineCommas
title: Comma Separated Lists
test: true
---

There may be lists of items you want to separate with commas.
Comma separated lists will add commmas between list items for you
without you having to check for a following item. Use this for cases
where you are manually creating a list as in the example below,
otherwise do this with a smarty loop.

```html_example
<ul class="listInlineCommas">
  <!-- {% if $beds %} -->
  <li>4 beds</li>
  <!-- {% /if %} -->

  <!-- {% if $baths %} -->
  <li>2 baths</li>
  <!-- {% /if %} -->

  <!-- {% if $sqft %} -->
  <li>1,094 sqft</li>
  <!-- {% /if %} -->
</ul>
```

*/


// ListInlineCommas Mixin
@mixin ooListInlineCommas() {
  
  .listInlineCommas > li {
    vertical-align: middle;
    display: inline-block;
    
    &:before {
      content: ', ';
    }
    
    &:first-child:before {
      content: '';
    }
  }
}
