/*doc
---
parent: list
name: listNav
title: Navigation lists (vertical)
test: true
---

```html_example
<ul class="listNav">
  <li>First list item</li>
  <li>Second list item</li>
  <li>Third list item
    <ul class="subnav">
      <li>Subnav item one</li>
      <li>Subnav item two</li>
    </ul>
  </li>
</ul>
```
*/


// ListNav Mixnin
@mixin ooListNav() {
  
  .listNav {
    > li {
      padding: .3em 0;
    }
  }
  
  .subnav {
    margin: 0 0 0 1em;
  }
}
