// ButtonLink Mixin
@mixin ooButtonLink {
  
  .btnLink {
    color: $lowlightLinkColor;
    border: 1px solid transparent;

    &:hover,
    &:focus {
      color: $lowlightLinkHoverColor;
    }
  }
}
