/*doc
---
title: Image Container
name: imageContainer
category: Components
author: August Flanagan
---

Image Containers wrap around your image and center it horizontally and vertically on a grey background.
You can use this when you have images that should fill a certain area, but are of mixed sizes (i.e. some
aren't quite all enough or wide enough)

*/


// ImageContainer Mixin
@mixin ooImageContainer {
  
  %imageContainer {
    display:table-cell;
    vertical-align: middle;
    background-color: $imageContainerBackgroundColor;
    
    img {
      display: block;
      margin: 0 auto;
      overflow: hidden;
    }
  }
}
