/*doc
---
name: addOnBtn
parent: addOn
title: Button AddOn
test: true
---

```html_example
<div class="form">
  <div class="field">
    <label for="dropdown" class="fieldLabel">Dropdown</label>
    <span class="fieldItem fieldAppend text">
      <input id="dropdown" aria-labelledby="dropdownBtn" class="cols12" type="text"><button id="dropdownBtn" class="addOn btn btnDefault">
        <i class="iconDownOpen"></i>
      </button>
    </span>
  </div>
</div>
```

*/


// AddOnBtn Mixin
@mixin ooAddOnBtn() {
  .form {
    .fieldAppend {
      input + .addOn.btn {
        border-left: $formFieldBorder;
        width: auto;
        vertical-align: baseline;
        box-shadow: none;
      }

      // this is unfortunately necessary to remove the default margin that all icons have.
      .addOn.btn > i:before {
        margin-right: 0 !important;
      }
    }
  }
}
