// Slider Mixin
@mixin ooSlider() {
  
  .slider {
    position: relative;
    display: block;
    width: 100%;
    height: 18px;
  }
  
  .sliderLine {
    position: absolute;
    display: block;
    top: 4px;
    left: 0;
    right: 0;
    width: auto;
    height: 8px;
    border-radius: $borderRadiusSml;
    border: 1px solid $sliderBorderColor;
    background-color: $sliderBackgroundColor;
    box-shadow: inset 0 1px 5px $sliderLineInsetShadowColor;
  }
  
  .sliderHandle {
    position: absolute;
    display: block;
    left: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $sliderBorderColor;
    border-radius: 16px;
    background-color: $sliderBackgroundColor;
    z-index: $zIndexMainContent + 1;
    cursor: pointer;
  }
}
