/*doc
---
title: Overlay Skins
parent: overlay
name: overlaySkins
test: true
---

Class                  | Description
---------------------- | -----------------
overlayHighlight       | Apply the green color skin
overlayLowlight        | Apply the black color skin
overlayAction          | Apply the blue color skin -- designed for actionable/clickable element
overlayMidnight        | Apply the midnight color skin
overlayDefault         | Apply the white color skin
overlayTop             | Position the overlay at the top
overlayBottom          | Position the overlay at the bottom
overlayLeft            | Position the overlay on left
overlayRight           | Position the overlay on right
overlayMiddle          | Position the overlay in the middle
overlayFullWidth       | Make the overlay be full width
overlayFull            | Make the overlay cover the entire image
overlayFadeOut         | Make the overlay cover fade out to zero opacity. Meant to use with animate



```html_example
<div class="overlayContainer" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="overlayDefault overlayBottom">You could
    <b>OWN</b> this cat!</span>
</div>
```
```html_example
<div class="overlayContainer" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="txtC overlayHighlight overlayTop overlayFullWidth ">You could
    <b>OWN</b> this cat!</span>
</div>
```
```html_example

<div class="overlayContainer" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="overlayLowlight overlayRight overlayMiddle">You could
    <b>OWN</b> this cat!</span>
</div>
```

```html_example
<div class="overlayContainer" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="overlayAction overlayBottom overlayRight clickable">
    Click to <b>BUY</b> this cat!</span>
</div>
```

```html_example
<div class="overlayContainer" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="overlayMidnight overlayFull">You could
    <b>OWN</b> this cat!</span>
</div>
```
*/


// OverlaySkins Mixin
@mixin ooOverlaySkins {
  .overlay {
    @extend %overlay;
  }

  // Colors
  .overlayHighlight {
    @extend %overlay;
    color: $overlayHighlightFontColor;

    // ie8
    background-color: $overlayHighlightBackground;

    // Modern Browser
    background-color: rgba($overlayHighlightBackground, 0.7);
  }

  .overlayLowlight {
    @extend %overlay;
    color: $overlayLowlightFontColor;

    // ie8
    background-color: $overlayLowlightBackground;

    // Modern Browser
    background-color: rgba($overlayLowlightBackground, 0.7);
  }

  .overlayAction {
    @extend %overlay;
    color: $overlayActionFontColor;

    //ie8
    background-color: $overlayActionBackground;

    // Modern Browser
    background-color: rgba($overlayActionBackground, 0.7);
  }

  .overlayDefault {
    @extend %overlay;
    color: $overlayDefaultFontColor;

    //ie8
    background-color: $overlayDefaultBackground;

    // Modern Browser
    background-color: rgba($overlayDefaultBackground, 0.7);
  }

  .overlayMidnight {
    @extend %overlay;
    color: $overlayMidnightFontColor;

    //ie8
    background-color: $overlayMidnightBackground;

    // Modern Browser
    background-color: rgba($overlayMidnightBackground, 0.7);
  }


  // Positioning
  .overlayTop {
    top: 0;
  }

  .overlayBottom {
    bottom: 0;
  }

  .overlayLeft {
    left: 0;
  }

  .overlayRight {
    right: 0;
  }

  .overlayMiddle {
    top: 50%;
  }

  // Sizing
  .overlayFullWidth {
    left: 0;
    right: 0;
  }

  .overlayFull {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .overlayFadeOut {
    opacity: 0;
    pointer-events: none;
  }
}
