/*doc
---
title: Overlay Skins
parent: overlay
name: overlaySkins
test: true
---

Class                    | Description
------------------------ | -----------------
`overlay`                | Position the element as an overlay (abosolute) with no background color
**Skins**                |
`overlayHighlight`       | Apply the green color skin
`overlayLowlight`        | Apply the black color skin
`overlayAction`          | Apply the blue color skin -- designed for actionable/clickable element
`overlayMidnight`        | Apply the midnight color skin
`overlayDefault`         | Apply the white color skin
**Positions**            |
`overlayTop`             | Position the overlay at the top
`overlayBottom`          | Position the overlay at the bottom
`overlayLeft`            | Position the overlay on left
`overlayRight`           | Position the overlay on right
`overlayMiddle`          | Position the overlay in the middle
`overlayFullWidth`       | Make the overlay be full width
`overlayFull`            | Make the overlay cover the entire image
**Animations**           | Meant to use with `animate` classes
`overlayFadeOut`         | Make the overlay cover fade out to zero opacity.
`overlaySlideUp`         | Make the overlay slide 100% to the top
`overlaySlideRight`      | Make the overlay slide 100% to the right
`overlaySlideDown`       | Make the overlay slide 100% to the bottom
`overlaySlideLeft`       | Make the overlay slide 100% to the left


```html_example
<div id="slideLeftEx" class="overlayContainer clickable" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="overlayDefault overlayBottom animate">Click to <b>OWN</b> this cat!</span>
</div>
```
```html_example
<div id="slideUpEx" class="overlayContainer clickable" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="txtC overlayHighlight overlayTop overlayFullWidth animate">Click to <b>OWN</b> this cat!</span>
</div>
```
```html_example
<div id="slideRightEx" class="overlayContainer clickable" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="overlayLowlight overlayRight overlayMiddle animate">Click to <b>OWN</b> this cat!</span>
</div>
```
```html_example
<div id="slideDownEx" class="overlayContainer clickable" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="overlayAction overlayBottom overlayRight animate">Click to <b>OWN</b> this cat!</span>
</div>
```
```html_example
<div id="fadeOutEx" class="overlayContainer clickable" style="width: 170px;">
  <img src="http://placekitten.com/170/240">
  <span class="overlayMidnight overlayFull animate animateSlow">Click to <b>OWN</b> this cat!</span>
</div>
```
```html_example
<div id="twoOverlayEx" class="overlayContainer clickable" style="width: 170px; height: 240px;">
  <img id="catImg" class="overlay animate" src="http://placekitten.com/170/240">
  <img id="sheenImg" class="overlay animate overlaySlideLeft" src="http://placesheen.com/170/240">
  <span class="overlayAction overlayBottom overlayRight">Click to <b>OWN</b> this cat!</span>
</div>
```

```js_example
$('#slideLeftEx').on('click', function() {$(this).find('.animate').toggleClass('overlaySlideLeft');});
$('#slideUpEx').on('click', function() {$(this).find('.animate').toggleClass('overlaySlideUp');});
$('#slideDownEx').on('click', function() {$(this).find('.animate').toggleClass('overlaySlideDown');});
$('#slideRightEx').on('click', function() {$(this).find('.animate').toggleClass('overlaySlideRight');});
$('#fadeOutEx').on('click', function() {$(this).find('.animate').toggleClass('overlayFadeOut');});
$('#twoOverlayEx').on('click', function() {
  $(this).find('#catImg').toggleClass('overlaySlideRight');
  $(this).find('#sheenImg').toggleClass('overlaySlideLeft');
});
```

*/


// OverlaySkins Mixin
@mixin ooOverlaySkins {
  .overlay {
    @extend %overlay;
  }

  // Colors
  .overlayHighlight {
    @extend %overlay;
    color: $overlayHighlightFontColor;

    // ie8
    background-color: $overlayHighlightBackground;

    // Modern Browser
    background-color: rgba($overlayHighlightBackground, 0.7);
  }

  .overlayLowlight {
    @extend %overlay;
    color: $overlayLowlightFontColor;

    // ie8
    background-color: $overlayLowlightBackground;

    // Modern Browser
    background-color: rgba($overlayLowlightBackground, 0.7);
  }

  .overlayAction {
    @extend %overlay;
    color: $overlayActionFontColor;

    //ie8
    background-color: $overlayActionBackground;

    // Modern Browser
    background-color: rgba($overlayActionBackground, 0.7);
  }

  .overlayDefault {
    @extend %overlay;
    color: $overlayDefaultFontColor;

    //ie8
    background-color: $overlayDefaultBackground;

    // Modern Browser
    background-color: rgba($overlayDefaultBackground, 0.7);
  }

  .overlayMidnight {
    @extend %overlay;
    color: $overlayMidnightFontColor;

    //ie8
    background-color: $overlayMidnightBackground;

    // Modern Browser
    background-color: rgba($overlayMidnightBackground, 0.7);
  }


  // Positioning
  .overlayTop {
    top: 0;
  }

  .overlayBottom {
    bottom: 0;
  }

  .overlayLeft {
    left: 0;
  }

  .overlayRight {
    right: 0;
  }

  .overlayMiddle {
    top: 50%;
  }

  // Sizing
  .overlayFullWidth {
    left: 0;
    right: 0;
  }

  .overlayFull {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }

  .overlayFadeOut {
    opacity: 0;
    pointer-events: none;
  }

  .overlaySlideLeft {
    @include transform(translate3d(-100%, 0, 0));
  }
  .overlaySlideRight {
    @include transform(translate3d(100%, 0, 0));
  }
  .overlaySlideUp {
    @include transform(translate3d(0, -100%, 0));
  }
  .overlaySlideDown {
    @include transform(translate3d(0, 100%, 0));
  }
}
