/*doc
---
title: Badge Colors
parent: badge
name: badgeSkins
test: true
---

Class          | Description
-------------- | -----------------
badgeStandard  | This is a basic badge
badgePrimary   | This is a badge with orange/red coloring used on CTAs
badgeSecondary | This is a badge with the alternate CTA color (Trulia green)
badgeTertiary  | This is a badge for a warning or something negative


```html_example
<strong class="badgeStandard">Sold</strong>
<strong class="badgePrimary">For Sale</strong>
<strong class="badgeSecondary">For Rent</strong>
<strong class="badgeTertiary">Warning</strong>
```

*/


// BadgeSkins Mixin
@mixin ooBadgeSkins {
  .badgeStandard {
    @extend %badge;
    background-color: $badgeStandardColor;
  }

  .badgePrimary {
    @extend %badge;
    background-color: $badgePrimaryColor;
  }

  .badgeSecondary {
    @extend %badge;
    background-color: $badgeSecondaryColor;
  }

  .badgeTertiary {
    @extend %badge;
    background-color: $badgeTertiaryColor;
  }
}
