/*doc
---
title: Heat Map Bar
name: heatMapBar
category: Components
test: true
---

```html_example
	<ul class="listInline mvn">
	  <li><span>Less safe</span></li>
	  <li><div class="heatMapBar pvs" style="width: 200px;"></div></li>
	  <li><span>Safer</span></li>
	</ul>
```

*/


// HeatMapBar Mixin
@mixin ooHeatMapBar() {
  
  .heatMapBar {
  	background: $heatMapBarCold;
    @include background(linear-gradient(left, color-stops($heatMapBarHot, $heatMapBarWarm, $heatMapBarCool, $heatMapBarCold)));
    background: -ms-linear-gradient(left, #cc2114, #ff5c00, #ff9900, #5eab1f); // IE10
    filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr='#{ie-hex-str($heatMapBarHot)}', endColorStr='#{ie-hex-str($heatMapBarCold)}', GradientType=1); //IE9
    -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr='#{ie-hex-str($heatMapBarHot)}', endColorStr='#{ie-hex-str($heatMapBarCold)}', GradientType=1)"; //IE8
    border-radius: $borderRadiusDefault;
  }
}
