// TooltipLight Mixin
@mixin ooTooltipLight {
  
  .tooltipLight {
    @include box-shadow(0 0 1px 1px $tooltipBorderColor);
    background-color: $tooltipBackgroundDefault;
  
    // ie8 Hack
    border: 1px solid #ccc\9;
  
    .ie {
      border-color: #ccc;
    }
  }
}