/*doc
---
title: Line Height
parent: typography
name: lineHeight
---

These classes are used to increase or decrease line heights

```html_example
<p class="typeNoLine">typeNoLine<br>typeNoLine</p>
<p>default line height<br>default line height</p>
<p class="typeLgLine">typeLgLine<br>typeLgLine</p>
```
*/

// Line Heights
@mixin ooLineHeight {

  .typeNoLine {
    line-height: 0px !important;
  }

  .typeLgLine {
    line-height: 26px !important;
  }
}
