/*doc
---
title: Typography Transform
parent: typography
name: typeTransform
category: Base CSS
---

Transforms typography elements...

```html_example
<p class="typeCaps">typeCaps</p>
<p class="typeLowercase">tYpeLowercase</p>
<p class="typeCapitalize">type capitalize</p>
<p class="typeTruncate" style="width:150px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tempor quam nec nibh adipiscing dictum. Sed auctor tristique ligula</p>
```
 */


// TypeTransform Mixin
@mixin ooTypeTransform {
  .typeLowercase {
    text-transform: lowercase !important;
  }

  .typeCaps {
    text-transform: uppercase !important;
  }

  .typeCapitalize {
    text-transform: capitalize !important;
  }

  .typeTruncate {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
