/*doc
---
title: Typography Contrast
parent: typography
name: typeContrast
category: Base CSS
author: Joe
---

These classes convey meaning through color.

```html_example
<p class="typeContrast">This type contrasts with your being.</p>
```
*/


// Type Contrast
@mixin ooTypeContrast() {
	
	.typeContrast {
		text-shadow: 1px 1px 0 rgba(#000, .3);
	}
}