/*doc
---
title: Typography Color
parent: typography
name: typeColor
category: Base CSS
---

These classes convey meaning through color.

```html_example
<p class="typeWarning">typeWarning</p>
<p class="typeCallout">typeCallout</p>
<p class="typeHighlight">typeHighlight</p>
<p class="typeMidnight">typeMidnight</p>
<p class="typeCrimson">typeCrimson</p>
<p class="typeSeattle">typeSeattle</p>
<p class="typeLowlight">typeLowlight</p>
<p class="typeFacebook">typeFacebook</p>
<p class="typeReversed backgroundMidnight">Type Reversed</p>

```
*/

// TypeColor
@mixin ooTypeColor {

  .typeWarning {
    color: $warningTypeColor;
  }

  .typeCallout {
    color: $calloutTypeColor;
  }

  .typeHighlight {
    color: $highlightTypeColor;
  }

  .typeSeattle {
    color: $seattleTypeColor;
  }

  .typeLowlight {
    color: $lowlightTypeColor;
  }

  .typeMidnight {
    color: $midnightTypeColor;
  }

  .typeReversed {
    color: $reversedTypeColor;
  }

  .typeFacebook {
    color: $facebookTypeColor;
  }

  .typeCrimson {
    color: $crimsonTypeColor;
  }
}
