// Core Colors
$lightNavy: #03568C;
$navy:		#00436E;
$darkNavy:  #01375B;

$lightBlue: #00A9DC;
$blue:		#0093BF;
$darkBlue:  #01789A;

$lightestCrimson: #DA9697;
$lightCrimson:    #C7383C;
$crimson:  	      #953537;
$darkCrimson:     #6B2527;

$lightGreen: #9FBD87;
$green:		 #829C6D;
$darkGreen:  #647855;

$lightYellow: #FDFCEA;
$yellow:	  #FAF8CF;
$darkYellow:  #F8F5AE;

$black: #000;
$darkestGray: #333;
$darkerGray: #6D6D6D;
$darkGray: #999;
$gray: #c8c8c8;
$lightGray: #e9e9e9;
$lighterGray: #efefef;
$lightestGray: #f8f8f8;
$offWhite: #EEF4F4;
$white: #fff;

// Utility Colors
$lightOrange: #f46747;
$orange: #ee552a;
$darkOrange: #b14700;

$facebookBlue: #4063b3;
$gold: #f9cb0b;
$red: #e6001c;

// Contours
$borderDefaultWidth: 1px;
$borderWidthSml: 1px;
$borderWidthMed: 2px;
$borderWidthLrg: 3px;
$borderRadiusXSml: 3px;
$borderRadiusSml: 4px;
$borderRadiusDefault: 6px;
$borderRadiusLrg: 8px;
$borderDefaultStyle: solid;
$borderDefaultColor: $lightGray;
$circleRadiusXSml: 10px;
$circleRadiusSml: 14px;
$circleRadiusMed: 18px;
$circleRadiusLrg: 23px;
$borderInverse: $black;

// Transition Speeds
$transitionSpeedDefault: 400ms;
$transitionSpeedSlow: 800ms;
$transitionSpeedFast: 200ms;


$zIndexBackground: -50; // Background, duh!
$zIndexMainContent: 0; // Main content, and standard ads in place with regular content
$zIndexPopup: 20; // Popup Elements -- Chat window, message notifications
$zIndexFloater: 50; // Non-anchored floating elements
$zIndexNavigation: 80; // Expanding Site Navigation Elements
$zIndexPageOverlay: 100; // Full-page Overlays


// ATTENTION!!!!
// USE THESE COLOR VARIABLES IN YOUR CODE
// (not the direct color names)

// Typography Colors
$baseTypeColor: $darkestGray;
$actionTypeColor: $lightBlue;
$seattleTypeColor: $darkGray;
$lowlightTypeColor: $darkGray;
$highlightTypeColor: $green;
$warningTypeColor: $red;
$calloutTypeColor: $orange;
$midnightTypeColor: $darkNavy;
$reversedTypeColor: $white;
$facebookTypeColor: $facebookBlue;
$crimsonTypeColor : $crimson;


// Typography
$rootFontSize: 16px; //Font size you set on <html> element. font-size: 100% = 16px.
$btnFontSize: 12px;  // Font size for newTXL btn
$baseLineHeight: 1.5em !default; //must be unitless
$baseFontSize: 14px !default; // when using baseFontSize variable, must use it with fontSize mixin
$baseFontFamily: OpenSans, sans-serif;
$baseTextColor: $darkestGray;
$headingTextColor: $navy;


// Background Colors
$bgLowlight: $lightestGray;
$bgHighlight: $green;
$bgBasic: $white;
$bgInverse: $darkestGray;
$bgSeattle: $darkGray;
$bgWarn: $red;
$bgCrimson : $crimson;
$bgCallout: $orange;
$bgMidnight: $darkNavy;
$bgDaylight: $lightYellow;
$bgAction: $lightBlue;
$bgFacebook: $facebookBlue;
$bgOffWhite: $offWhite;
$bgLightNavy:  $lightNavy;
$bgNavy:       $navy;
$bgDarkNavy:   $darkNavy;
$bgLightBlue:  $lightBlue;
$bgBlue:       $blue;
$bgDarkBlue:   $darkBlue;
$bgLightGreen: $lightGreen;
$bgGreen:      $green;
$bgDarkGreen:  $darkGreen;
$bgLightestCrimson: $lightestCrimson;
$bgLightCrimson:    $lightCrimson;
$bgCrimson:         $crimson;
$bgDarkCrimson:     $darkCrimson;
// To add additional backgrounds use the following syntax:
//    @include ooBackground(<className>, <color>)
//    @className  (The class name that you will use for that background)
//    @color      (The color to be used for that background)


// Tab Colors
$tabsBoxBorder: $gray;
$tabsBorder: $lightGray;
$tabsBodyBackground: $white;
$tabsHighlightColor: $lightestGray;
$tabsActiveColor: $white;
$tabsActiveBackground: $white;
$tabsActiveFontColor: $darkestGray;
$tabsHighlightColor: $lightestGray;
$tabsActiveColor: $white;
$tabsActiveBackground: $white;
$tabsActiveFontColor: $darkestGray;
$tabPrimaryBackgroundColor: $lightestGray;
$tabPrimaryActiveBackgroundColor: $white;
$tabPrimaryActiveFontColor: $green;
$tabPrimaryFontColor: $darkestGray;
$tabPrimaryHoverFontColor: $blue;
$tabColumnsBackgroundColor: rgb(173, 173, 173); // Fall back for IE
$tabColumnsBackgroundColorOpaque: rgba(173, 173, 173, 0.9); //opaque gray
$tabColumnsActiveBackgroundColor: $white;
$tabColumnsActiveBackgroundColorOpaque: rgba(255, 255, 255, 0.9); //opaque white
$tabColumnActiveBorderColor: $white;
$tabBorderRadius: $borderRadiusDefault;


// Badge Colors
$badgePrimaryColor: $orange;
$badgeSecondaryColor: $green;
$badgeTertiaryColor: $red;
$badgeStandardColor: $darkGray;

// Circle Colors
$circleLowlight : $gray;
$circleSeattle : $darkGray;
$circleHighlight : $green;
$circleWarn : $red;
$circleCrimson : $crimson;
$circleCallout : $orange;
$circleMidnight: $darkNavy;
$circleInverse: $darkestGray;
$circleAction: $lightBlue;
$circleFacebook: $facebookBlue;

// Dot Colors
$dotLowlight : $gray;
$dotSeattle : $darkGray;
$dotHighlight : $green;
$dotWarn : $red;
$dotCrimson : $crimson;
$dotCallout : $orange;
$dotMidnight: $darkNavy;
$dotInverse: $darkestGray;
$dotAction: $lightBlue;
$dotFacebook: $facebookBlue;

// Heat Map Bar Colors
$heatMapBarHot: $red;
$heatMapBarWarm: $orange;
$heatMapBarCool: $gold;
$heatMapBarCold: $green;


// Alert Colors
$alertWarnColor: $red;
$alertConfirmColor: $green;
$alertInfoColor: $darkestGray;


// Frame Colors
$frameBackground: $darkGray;
$frameBorder: $lightGray; //fallback for IE8 and 7


// Overlay Colors
$overlayLowlightBackground: $darkestGray;
$overlayLowlightFontColor: $white;
$overlayHighlightBackground: $green;
$overlayHighlightFontColor: $white;
$overlayActionBackground: $blue;
$overlayActionFontColor: $white;
$overlayDefaultBackground: $white;
$overlayDefaultFontColor: $darkestGray;
$overlayMidnightFontColor: $white;
$overlayMidnightBackground: $darkNavy;

// Divider
$dividerColor: $lightGray;
$dividerColorLowlight: $lightGray;
$inlineTextDividerColor: $darkGray;
$borderColor: $lightGray;
$borderColorLowlight: $lightGray;


// Table Colors
$tableBasicBorder: $lightGray;


// List
$listInlineDividerColor: $lightGray;
$listBorderedDividerColor: $lightGray;
$listHoverBackgroundColor: $lightestGray;


// Navigation
$navDividerColor: $lightGray;


// Tabs
$tabDividerColor: $lightGray;


// Close Icon
$closeIconColor: $darkGray;


// SVG Icons
$baseSvgIconSizeDefault: 16px;
$baseSvgIconMargin: 0 4px 2px 0;


// Tooltip
$tooltipBackgroundDefault: $white;
$tooltipBorderColor: $lightGray;


// Toggle Colors
$toggleColor: $darkestGray;
$toggleColorLowlight: $darkGray;


// Link Colors
$linkColor: $lightBlue;
$linkHoverColor: $darkNavy;
$lowlightLinkColor: $darkGray;
$lowlightLinkHoverColor: $darkNavy;


// Button Colors
$btnBackgroundColorDefault: $lighterGray; //default
$btnBackgroundHoverDefault: lighten($lighterGray, 1%); //hover
$lightBackground: $lightestGray;
$btnBackgroundColorFlat: $orange; //flat button
$btnBackgroundHoverFlat: $lightOrange; //flat button hover

$btnBackgroundStartColorDefault: $lighterGray; //default
$btnBackgroundEndColorDefault: lighten($lighterGray, 1%); //hover
$btnTextColorDefault: $darkestGray;
$btnTextShadowDefault: 0 1px 0 rgba(255, 255, 255, 1);
$btnBorderColorDefault: $gray;
$btnBoxShadowDefault: $gray;

$altCommonBtnTextColor: $white;
$altCommonBtnTextShadow: none;

$btnBackgroundColorFacebook: $facebookBlue; //default
$btnBackgroundHoverFacebook: lighten($facebookBlue, 5%); //hover
$btnBoxShadowFacebook: $facebookBlue;

$btnBackgroundColorDanger: $red; //default
$btnBackgroundHoverDanger: $lightestCrimson; //hover

$btnBackgroundColorDeemphasize: $white;
$btnBackgroundHoverDeemphasize: lighten($white, 5%);

$btnBackgroundColorDisabled: $gray;
$btnTextColorDisabled: $darkGray;
$btnTextShadowDisabled: none;


// Whitespace
$baseGutter: 21px; //TODO: should this be based on line-height?
$baseSpacing: 3px;
$spacingHelpers: (3px, 6px, 12px, 21px, 36px);
$baseSpacingLarge: 21px;


// Text Kerning
$letterSpacingSml: 1px;


// Layout
$cols: 24;
// /*
//  * em-ratio	converts between em and px
//  * to em 	divide by this ratio
//  * to px 	mulitply by this ratio
//  */
// $em-ratio: $baseFontSize/$baseLineHeight;

// /* whitespace */
// $gutters-h: 15px;
// $gutters-v: $baseLineHeight/2em*1rem; // set top and bottom margins to half the base line height so that the total takes up one row of vertical rhythm.
// $spacing-helpers: ($em-ratio*$baseLineHeight/3, $em-ratio*$baseLineHeight/2, $em-ratio*$baseLineHeight); //TODO: convert to px;

// /* grids */
// $break-points: (); // can be pixel values or if only one value, break points will be made at that increment. (not for now)
// $mobile-first: true;


// Dropdown
$dropdownBasicBoxBackground: $white;
$dropdownBasicBoxBorder: 1px solid $green;
$dropdownBasicItemActiveBackground: $green; // The item you hover/focus on in the dropdown box
$dropdownBasicItemActiveTextColor: $white;
$dropdownBasicItemTextShadow: 1px 1px 0 $darkGray; // can be null
$dropdownBasicLinkColor: $blue;
$dropdownListColor: $darkestGray;
$dropdownListTextShadowColor: $white;
$dropdownListHoverBackgroundColor: $lightGray;
$dropdownListDividerBorderTopColor: $gray;
$dropdownListDividerBorderBottomColor: $white;
$dropdownLinkColor: $darkestGray;
$dropdownDefaultZIndex: $zIndexPopup;


// Form
$placeholderText: $darkGray;
$formLabelColor: $darkGray;
$formFieldBorder: 1px solid $gray;
$formFieldBorderHighlight: 1px solid $green;
$formFieldBorderWarning: 1px solid $red;
$formFieldBorderRadius: $borderRadiusSml;


// Rating
$ratingBarOffStartColor: $lightGray;
$ratingBarOffEndColor: $darkGray;
$ratingBarOnStartColor: $darkGreen;
$ratingBarOnEndColor: $green;


// Template
$pageWidthLrg: 1128px;
$pageWidth: 980px;
$responsePointLrg: $pageWidthLrg + 16;
$skipLinkBackground: $green;
$headerColor: $white;
$bodyColor: $white;
$sideBarWidth: 185px; // left column in template
$asideWidth: 300px; // right column in template
$footerBorder: 5px solid $green;
$footerLinkColor: $darkestGray;
$footerLinkHoverColor: $green;


// Carousel
$carouselPaginationColor: $gray;
$carouselPaginationActiveColor: $green;


// AddOn Defaults
$addOnLowlightBackgroundColor: $gray;
$addOnLowlightTextColor: $darkGray;
$addOnLowlightTextShadow: 0 1px 0 rgba(255, 255, 255, 1);
$addOnBtnBackgroundColor: $lightestGray;
$addOnBtnBackgroundStartColor: $lightestGray; //light
$addOnBtnBackgroundEndColor: $lightestGray; //dark
$addOnBtnTextColor: $darkestGray;
$addOnBtnTextShadow: 0 1px 0 rgba(255, 255, 255, 1);


// Modal Colors
$modalBackgroundDark: $darkestGray;
$modalBackgroundLight: $white;


// Image Container
$imageContainerBackgroundColor: $lightestGray;


// Slider Colors
$sliderBorderColor: $gray;
$sliderBackgroundColor: $lightestGray;
$sliderLineInsetShadowColor: $lightGray;


// Photo Player
$photoPlayerThumbnailBorderDefault: 1px solid $gray;
$photoPlayerThumbnailBorderHighlightColor: $green;


// Tag Colors
$tagBasicBorderColor: $lightGray;
$tagBasicBackgroundColor: $lightestGray;
$tagCloseColor: $gray;
$tagBasicShadowColor: $white;


// Cards
$cardRadius: 4px;
$cardBaseColor: $white;
$cardBasePadding: 15px 20px;
$cardDivider: $lightGray;
$cardFlipCardHeight: 290px;
$cardFlipSpeed: .5s;


// Animations
$animateSpeed: .3s;
$animateDelay: .5s;
$animateSlideOffset: 40px;


// Marker Colors
$markerDefaultTextColor: $gray;
$markerDefaultColor: $white;
$markerDefaultBorderColor: darken($white, 15%);
$markerPrimaryColor: $green;
$markerPrimaryBorderColor: darken($green, 15%);
$markerSecondaryColor: $blue;
$markerSecondaryBorderColor: darken($blue, 15%);
$markerTertiaryColor: $red;
$markerTertiaryBorderColor: darken($red, 15%);
$markerHighlightColor: $orange;
$markerHighlightBorderColor: darken($orange, 15%);
$markerLowlightColor: $darkGray;
$markerLowlightBorderColor: darken($darkGray, 15%);
$markerInverseColor: $darkestGray;
$markerInverseBorderColor: darken($darkestGray, 15%);

// Mobile stuff

$sideNavWidth: 260px;
