/*doc
---
title: Box Head Highlight
parent: box
name: y_boxHeadHighlight
category: Components
author: Vince Lum
test: true
---

```html_example
<div class="box boxBasic backgroundBasic">
  <div class="boxHead boxHeadHighlight">
    <h5>This is a box header</h5>
  </div>
  <div class="boxBody">
    <p>I. Am. The. Body.</p>
  </div>
</div>
```

*/


// BoxHeadHightLight Mixin
@mixin ooBoxHeadHighlight {

  .boxHeadHighlight {
    background-color: $bgHighlight;
    color: $reversedTypeColor;
    @include border-top-left-radius($borderRadiusDefault - 1px);
    @include border-top-right-radius($borderRadiusDefault - 1px);
    padding: 0 $baseSpacingLarge;
    margin: 0;
  }
}
