/*doc
---
title: Circles
parent: circle
name: circleSkins
---

```html_example
<span class="circleStandard lg pam mrxs">1</span><span class="mrm">circleStandard</span>
<span class="circleLowlight lg pam mrxs">2</span><span class="mrm">circleLowlight</span>
<span class="circleSeattle lg pam typeReversed mrxs">3</span><span class="mrm">circleSeattle</span>
<span class="circleInverse lg pam typeReversed mrxs">4</span><span class="mrm">circleInverse</span>
<span class="circleHighlight lg pam typeReversed mrxs">5</span><span class="mrm">circleHighlight</span>
<span class="circleMidnight lg pam typeReversed mrxs">6</span><span class="mrm">circleMidnight</span>
<span class="circleCallout lg pam typeReversed mrxs">7</span><span class="mrm">circleCallout</span>
<span class="circleWarning lg pam typeReversed mrxs">8</span><span class="mrm">circleWarning</span>
<span class="circleCrimson lg pam typeReversed mrxs">8</span><span class="mrm">circleCrimson</span>
<span class="circleAction lg pam typeReversed mrxs">9</span><span class="mrm">circleAction</span>
<span class="circleFacebook lg pam typeReversed mrxs">10</span><span class="mrm">circleFacebook</span>
```
*/


// circleSkins Mixin
@mixin ooCircleSkins {
  .circleAction {
    @extend %circle;
    background-color: $circleAction;
  }

  .circleLowlight {
    @extend %circle;
    background-color: $circleLowlight;
  }

  .circleSeattle {
    @extend %circle;
    background-color: $circleSeattle;
  }

  .circleInverse {
    @extend %circle;
    background-color: $circleInverse;
  }

  .circleMidnight {
    @extend %circle;
    background-color: $circleMidnight;
  }

  .circleHighlight {
    @extend %circle;
    background-color: $circleHighlight;
  }

  .circleCallout {
    @extend %circle;
    background-color: $circleCallout;
  }

  .circleWarning {
    @extend %circle;
    background-color: $circleWarn;
  }

  .circleCrimson {
    @extend %circle;
    background-color: $circleCrimson;
  }

  .circleFacebook {
    @extend %circle;
    background-color: $circleFacebook;
  }
}
