<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Flexport Style Guide</title>
    <link rel="shortcut icon" href="doc_assets/flexport.ico" />

    <link rel="stylesheet" href="doc_assets/css/screen.css">
    <link rel="stylesheet" href="build/css/oocss.css">

    <!-- Documentation CSS -->
    <link rel="stylesheet" href="doc_assets/css/doc.css">
    <link rel="stylesheet" href="doc_assets/css/github.css">

    <!-- Main libraries -->
    <script src="build/libs/script/jquery-1.8.2.min.js"></script>
    <script src="build/libs/script/jquery.placeholder.js"></script>
    <script src="build/libs/script/underscore-1.4.4.min.js"></script>
    <!-- component js and init scripts -->
    <script src="build/script/components.js"></script>
</head>

  <body>
    <a href="#main" class="hideVisually focusable skipLink">Skip to content</a>

<header class="header pbn" role="banner">
  <div class="backgroundMidnight typeReversed">
    <div class="container">
      <h1 class="h4 mvm"> <strong>Flexport</strong> Style Guide</h1>
    </div>
  </div>
  <div class="hideFully" id="navPlaceholder"></div>
  <div id="navigation" class="backgroundLowlight typeReversed">
    <div class="container">
      <span>
        <ul class="oocssDocNav listInline">
          <li><a href="//getbootstrap.com/css">Bootstrap</a></li>
          <% for nav in [
            {:title => 'Base CSS', :href => 'base_css.html'},
            {:title => 'Components', :href => 'components.html'},
            {:title => 'Utilities', :href => 'utilities.html'},
          ] %>

          <li><a <%= 'class="activeNavElem"' if title == nav[:title] %> href="<%= nav[:href] %>" ><%= nav[:title] %></a></li>

          <% end %>

        </ul>
      </span>
    </div>
  </div>
  <!-- //header/container -->
</header>

<div class="content contentResponsive">
  <section>
    <div class="line">

      <div class="col cols4">
      <% if !blocks.empty? %>
          <div class="componentMenu box boxBasic backgroundBasic">
            <div class="boxBody pan">
              <ul class="componentList listBorderedHover man lvn lhn">
                <% for section in blocks %>
                  <% if section[:parent].nil? %>
                    <li><a class="pas" href="#<%= section[:name] %>"><%= section[:title] %></a></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </div>
      <% end %>
      </div>

      <div class="main col cols20 lastCol">



