/*doc
---
title: Colors
parent: background
name: backgroundSkins
---

<div class="line txtC">
  <div class="col cols8">
    <div class="docSwatch backgroundDarkNavy"></div>
    <code>backgroundDarkNavy</code>
  </div>
  <div class="col cols8">
    <div class="docSwatch backgroundNavy"></div>
    <code>backgroundNavy</code>
  </div>
  <div class="col cols8">
    <div class="docSwatch backgroundLightNavy"></div>
    <code>backgroundLightNavy</code>
  </div>

  <div class="col cols8">
    <div class="docSwatch backgroundDarkBlue"></div>
    <code>backgroundDarkBlue</code>
  </div>
  <div class="col cols8">
    <div class="docSwatch backgroundBlue"></div>
    <code>backgroundBlue</code>
  </div>
  <div class="col cols8">
    <div class="docSwatch backgroundLightBlue"></div>
    <code>backgroundLightBlue</code>
  </div>

  <div class="col cols8">
    <div class="docSwatch backgroundDarkGreen"></div>
    <code>backgroundDarkGreen</code>
  </div>
  <div class="col cols8">
    <div class="docSwatch backgroundGreen"></div>
    <code>backgroundGreen</code>
  </div>
  <div class="col cols8">
    <div class="docSwatch backgroundLightGreen"></div>
    <code>backgroundLightGreen</code>
  </div>
</div>
*/


// BackgroundSkins Mixin
@mixin ooBackgroundSkins {
  @include ooBackground("backgroundBasic", $bgBasic);
  @include ooBackground("backgroundOffWhite", $bgOffWhite);
  @include ooBackground("backgroundLowlight", $bgLowlight);
  @include ooBackground("backgroundHighlight", $bgHighlight);
  @include ooBackground("backgroundInverse", $bgInverse);
  @include ooBackground("backgroundWarning", $bgWarn);
  @include ooBackground("backgroundCrimson", $bgCrimson);
  @include ooBackground("backgroundCallout", $bgCallout);
  @include ooBackground("backgroundMidnight", $bgMidnight);
  @include ooBackground("backgroundDaylight", $bgDaylight);
  @include ooBackground("backgroundAction", $bgAction);
  @include ooBackground("backgroundSeattle", $bgSeattle);
  @include ooBackground("backgroundFacebook", $bgFacebook);

  @include ooBackground("backgroundLightNavy", $bgLightNavy);
  @include ooBackground("backgroundNavy", $bgNavy);
  @include ooBackground("backgroundDarkNavy", $bgDarkNavy);

  @include ooBackground("backgroundLightBlue", $bgLightBlue);
  @include ooBackground("backgroundBlue", $bgBlue);
  @include ooBackground("backgroundDarkBlue", $bgDarkBlue);

  @include ooBackground("backgroundLightGreen", $bgLightGreen);
  @include ooBackground("backgroundGreen", $bgGreen);
  @include ooBackground("backgroundDarkGreen", $bgDarkGreen);

  @include ooBackground("backgroundLightestCrimson", $bgLightestCrimson);
  @include ooBackground("backgroundLightCrimson", $bgLightCrimson);
  @include ooBackground("backgroundCrimson", $bgCrimson);
  @include ooBackground("backgroundDarkCrimson", $bgDarkCrimson);
}
