/*doc
---
title: Badges
name: badge
category: Components
---

Badges are a way to display a small amount of text or an image within a
nicely formatted box.

*/


// Badge Mixin
@mixin ooBadge {

  %badge {
    @include border-radius(3px);
    @include fontSize(12px);
    padding: pxToEm(5px,14px) pxToEm(6px,14px) pxToEm(3px,14px);
    display: inline-block;
    color: $reversedTypeColor;
    line-height: 1;
    text-transform: uppercase;
  }
}
