/*doc
---
title: Animate
category: Utilities
name: animate
---


Class                | Description
-------------------- | -----------------
`animate`            | add effect when changing from one style to another
`animate animateSlow`| longer transition duration
`animate animateFast`| shorter transition duration


```html_example
<p>Sup, hover me and see what happens</p>

<div class="overlayContainer hover" style="width: 180px;">
  <img src="http://placekitten.com/180/135">
  <span class="overlayLowlight overlayFull hoverDisplay animate animateSlow">
  You could <b>OWN</b> this cat!
  </span>
</div>

```

*/


// Animate Mixin
@mixin ooAnimate() {

	.animate {
		@include transition($transitionSpeedDefault);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
	}

	.animateSlow {
		@include transition-duration($transitionSpeedSlow);
	}

	.animateFast {
		@include transition-duration($transitionSpeedFast);
	}
}
