/*doc
---
title: Text Alignment
category: Utilities
name: textAlign
author: JD
---

#### Horizontal Alignment
Class       | Description
----------- | -----------------
`txtL`      | text align left
`txtC`      | text align center
`txtR`      | text align right


#### Vertical Alignment
Class       | Description
----------- | -----------------
`txtT`      | text align top
`txtM`      | text align midlle
`txtB`      | text align bottom


*/


// Horizontal Alignment Mixin
@mixin ooHorizontalTextAlignment() {
	
	.txtC {
		text-align: center;
	}
	
	.txtL {
		text-align: left;
	}
	
	.txtR {
		text-align: right;
	}
}


// Vertical Alignment
@mixin ooVerticalTextAlignment() {
	
	.txtT {
		vertical-align: top;
	}
	
	.txtB {
		vertical-align: bottom;
	}
	
	.txtM {
		vertical-align: middle;
	}
}