/*doc
---
title: Z-Index
category: Utilities
name: z-index
---

Please note that these classes are for the "global page" elements, that have semantic meaning in the page context, such as popups, navigation blocks, ads, etc. It shouldn't be used for internals of particular widget implementation, like markers on the map or z-positioning of the elements in a photoplayer. Each widget should have z-index:0 (since it's a content) and will prevent polluting page's z-axis space.

Class                           | Description
------------------------------- | -----------
`zIndexBackground`              | -50; For elements in the background
`zIndexMainContent`             |   0; For main content, and standard ads in place with regular content
`zIndexPopup`                   |  20; For popup Elements -- chat window, message notifications
`zIndexFloater`                 |  50; For non-anchored floating elements
`zIndexNavigation`              |  80; For expanding site navigation elements
`zIndexPageOverlay`             | 100; For full-page overlays

*/


// Z-Index Mixin
@mixin zIndex($name, $index) {
	.zIndex#{$name} {
		z-index: $index !important;
	}
}

@mixin ooZIndices() {
	@include zIndex ("Background", $zIndexBackground);
	@include zIndex ("MainContent", $zIndexMainContent);
	@include zIndex ("Popup", $zIndexPopup);
	@include zIndex ("Floater", $zIndexFloater);
	@include zIndex ("Navigation", $zIndexNavigation);
	@include zIndex ("PageOverlay", $zIndexPageOverlay);
}
