/*doc
---
title: Dots
parent: dot
name: dotSkins
---

```html_example
<span class="dotStandard mrxs"></span><span class="mrm">dotStandard</span>
<span class="dotLowlight mrxs"></span><span class="mrm">dotLowlight</span>
<span class="dotSeattle mrxs"></span><span class="mrm">dotSeattle</span>
<span class="dotInverse mrxs"></span><span class="mrm">dotInverse</span>
<span class="dotHighlight mrxs"></span><span class="mrm">dotHighlight</span>
<span class="dotMidnight mrxs"></span><span class="mrm">dotMidnight</span>
<span class="dotCallout mrxs"></span><span class="mrm">dotCallout</span>
<span class="dotWarning mrxs"></span><span class="mrm">dotWarning</span>
<span class="dotAction mrxs"></span><span class="mrm">dotAction</span>
<span class="dotFacebook mrxs"></span><span class="mrm">dotFacebook</span>
```
*/


// DotSkins Mixin
@mixin ooDotSkins {
  .dotAction {
    @extend %dot;
    background-color: $dotAction;
  }

  .dotLowlight {
    @extend %dot;
    background-color: $dotLowlight;
  }

  .dotSeattle {
    @extend %dot;
    background-color: $dotSeattle;
  }

  .dotInverse {
    @extend %dot;
    background-color: $dotInverse;
  }

  .dotMidnight {
    @extend %dot;
    background-color: $dotMidnight;
  }

  .dotHighlight {
    @extend %dot;
    background-color: $dotHighlight;
  }

  .dotCallout {
    @extend %dot;
    background-color: $dotCallout;
  }

  .dotWarning {
    @extend %dot;
    background-color: $dotWarn;
  }

  .dotFacebook {
    @extend %dot;
    background-color: $dotFacebook;
  }
}
