/*doc
---
title: Box Actions
name: boxAction
category: Components
author: August Flanagan
---

Box actions are user actions that sit in the top right corner of a box.
Currently there is only one, and it is `boxClose`.

*/


// BoxAction Mixin
@mixin ooBoxAction(){
  %boxAction {
    border: none;
    position: absolute; // move to boxAction (this is true of all actions, not just close)
    cursor: pointer;
    background-color: transparent;
  }
}
