// TabPrimary Mixin
@mixin ooTabPrimary {
  
  .tabPrimary {
    
    > li {
      margin: 0 10px 9px 0;
      font-weight: normal;
    }
    
    a,
    .active {
      color: $tabPrimaryFontColor;
      padding: 10px 20px;
      border: 1px solid $tabsBorder;
      border-bottom: none;
      border-top-right-radius: $tabBorderRadius;
      border-top-left-radius: $tabBorderRadius;
      background-color: $tabPrimaryBackgroundColor;
    }
    
    a:hover {
      color: $tabPrimaryHoverFontColor;
      background-color: $tabsActiveBackground;
    }
    
    .active {
      font-weight: bold;
      background-color: $tabPrimaryActiveBackgroundColor;
      border-bottom: 1px solid $tabPrimaryActiveBackgroundColor;
    }
    
    span {
      line-height: 0;
    }
  }
}