/*doc
---
parent: tabs
name: tabColumns
title: Tab With Columns
---

Tabs Clas       | Description
--------------  | -----------
`tabColumns`    | This style of tabs is opaque and takes the full width of the container.  Define the tab spacing with column styles.

*/


// TabColumns Mixin
@mixin ooTabColumns {
  
  .tabColumns {
    ul {
      margin: 0;
    }
    
    > li {
      margin: 0;
      padding: 0 !important;
      position: relative;
      text-align: left;
    }
    
    li:first-child a,
    li:first-child span.active {
      border-top-left-radius: $tabBorderRadius;
    }
    
    li:last-child a,
    li:last-child span.active {
      border-top-right-radius: $tabBorderRadius;
    }
    
    a,
    span.active {
      padding: 10px 20px;
      border-bottom: 1px solid $tabColumnsBackgroundColor;
      background: $tabColumnsBackgroundColor;
      background-color: $tabColumnsBackgroundColorOpaque;
      display: block;
      line-height: normal;
      color: $tabPrimaryFontColor
    }
    
    a:hover {
      color: $tabPrimaryFontColor;
      background-color: $tabColumnsBackgroundColor;
    }
    
    span.active {
      background: $tabColumnsActiveBackgroundColor;
      background-color: $tabColumnsActiveBackgroundColorOpaque;
      border: 1px solid $tabColumnActiveBorderColor;
      border-bottom: none;
    }
    
    span {
      line-height: 0;
    }
  }
}