/*doc
---
title: Circles
name: circle
category: Components
---

Use this component to create circle objects (100% border radius).

*/


// Circle Mixin
@mixin ooCircle {

  %circle{
    display: inline-block;
    border-radius: 100%;
    text-align: center;

    &.sm {
      width: $circleRadiusSml * 2;
      height: $circleRadiusSml * 2;
    }
    &.md {
      width: $circleRadiusMed * 2;
      height: $circleRadiusMed * 2;
    }
    &.lg {
      width: $circleRadiusLrg * 2;
      height: $circleRadiusLrg * 2;
    }
  }
}
