/*doc
---
title: Input
category: Forms
name: forms_a_input
---

```html_example
<form class="form">
  <div class="field">
    <label for="text1" class="fieldLabel">Label with input</label>
    <span class="fieldItem text">
      <input type="text" id="text1" placeholder="I want words inside of me">
    </span>
  </div>
</form>
```

*/


// Form Class
.form {
  
  .text input {
    width: 100%;
    @extend %formFieldStyle;
  }
  
  // ie10 giant X hack fix
  .text::-ms-clear {
    display: none;
  }
}
