/*doc
---
title: Dropdowns
name: dropdown
category: Components
---

You can add a dropdown to anything. No javascript required. If you *do* want to trigger a dropdown programatically
you can simply add the class `dropdownHover` to your trigger element and that will show the dropdown.

```html_example
<span class="dropdown">
  <a href="#pancakes" >Pancakes</a>
  <div class="dropdownBox box boxBasic backgroundLowlight">
    <ul class="dropdownList">
      <li><a href="#strawberry" class="dropdownLink">Strawberry</a></li>
      <li><a href="#blueberry" class="dropdownLink">Blueberry</a></li>
      <li><a href="#kiwi" class="dropdownLink">Kiwi</a></li>
      <li><a href="#apricot" class="dropdownLink">Apricot</a></li>
      <li class="dropdownDivider"></li>
      <li><a href="#corn_bread" class="dropdownLink">Corn Bread</a></li>
      <li><a href="#sweet_cream" class="dropdownLink">Sweet Cream</a></li>
    </ul>
  </div>
</span>
```

Dropdown with dropdown box align right

```html_example
<div class="dropdown cols10 txtR">
  <a href="#pancakes" >Pancakes</a>
  <div class="dropdownBox dropdownBoxRight box boxBasic backgroundLowlight">
    <ul class="dropdownList">
      <li><a href="#strawberry" class="dropdownLink">Strawberry</a></li>
      <li><a href="#blueberry" class="dropdownLink">Blueberry</a></li>
      <li><a href="#kiwi" class="dropdownLink">Kiwi</a></li>
      <li><a href="#apricot" class="dropdownLink">Apricot</a></li>
      <li class="dropdownDivider"></li>
      <li><a href="#corn_bread" class="dropdownLink">Corn Bread</a></li>
      <li><a href="#sweet_cream" class="dropdownLink">Sweet Cream</a></li>
    </ul>
  </div>
</div>
```

Dropdown with dropdown list elements having bottom borders

```html_example
<div class="dropdown">
  <a href="#pancakes" >Pancakes</a>
  <div class="dropdownBox dropdownBoxRight box boxBasic backgroundLowlight">
    <ul class="dropdownList dropdownListBordered">
      <li><a href="#strawberry" class="dropdownLink">Strawberry</a></li>
      <li><a href="#blueberry" class="dropdownLink">Blueberry</a></li>
      <li><a href="#kiwi" class="dropdownLink">Kiwi</a></li>
      <li><a href="#apricot" class="dropdownLink">Apricot</a></li>
    </ul>
  </div>
</div>
```

You may combine dropdowns with inline lists to create menus:

```html_example
<ul class="listInline">
  <li>
    <span class="dropdown">
      <a href="#pancakes" >Pancakes</a>
      <div class="dropdownBox box boxBasic backgroundLowlight">
        <ul class="dropdownList">
          <li><a href="#strawberry" class="dropdownLink">Strawberry</a></li>
          <li><a href="#blueberry" class="dropdownLink">Blueberry</a></li>
          <li><a href="#kiwi" class="dropdownLink">Kiwi</a></li>
          <li><a href="#apricot" class="dropdownLink">Apricot</a></li>
          <li class="dropdownDivider"></li>
          <li><a href="#corn_bread" class="dropdownLink">Corn Bread</a></li>
          <li><a href="#sweet_cream" class="dropdownLink">Sweet Cream</a></li>
        </ul>
      </div>
    </span>
  <li>
    <span class="dropdown">
      <a href="#pancakes" >Waffles</a>
      <div class="dropdownBox box boxBasic backgroundLowlight">
        <ul class="dropdownList">
          <li><a href="#belgian" class="dropdownLink">Belgian</a></li>
          <li><a href="#liege" class="dropdownLink">Liège</a></li>
          <li><a href="#hong_kong" class="dropdownLink">Hong Kong style</a></li>
          <li><a href="#pandan" class="dropdownLink">Pandan</a></li>
        </ul>
      </div>
    </span>
  <li>
    <span class="dropdown">
      <a href="#pancakes" >French Toast</a>
      <div class="dropdownBox box boxBasic backgroundLowlight">
        <ul class="dropdownList">
          <li><a href="#there_is_only_one_french_toast" class="dropdownLink">There is only one french toast</a></li>
        </ul>
      </div>
    </span>
</ul>
```

*/


// Dropdown Mixin
@mixin ooDropdown {
  .dropdown {
    position: relative;

    &:hover .dropdownBox,
    &.dropdownHover .dropdownBox {
      display: block;
    }
  }

  .dropdownBox {
    @extend %boxSkinDefaults;
    margin: 0;

    top: 100%;
    left: 0;
    position: absolute;
    z-index: $dropdownDefaultZIndex;

    display: none;
  }

  .dropdownBoxRight {
    left: auto;
    right: 0;
  }

  .dropdownList {
    margin: 0;
    padding: 0;

    > li {
      margin: 0;
      padding: 0;
      display: block;
      font-size: $baseFontSize;
      line-height: 30px;
      color: $dropdownListColor;
      white-space: nowrap;
      text-decoration: none;
      text-shadow: 0px 1px $dropdownListTextShadowColor;
      cursor: pointer;

      &:first-child {
        margin-top: nth($spacingHelpers, 2); // 10px
      }

      &:last-child {
        margin-bottom: nth($spacingHelpers, 1); // 5px
      }

      &:hover {
        background-color: $dropdownListHoverBackgroundColor;
      }

      &.dropdownDivider {
        margin: nth($spacingHelpers, 1) 0; // 5px 0
        border: 1px solid;
        border-top-color: $dropdownListDividerBorderTopColor;
        border-bottom-color: $dropdownListDividerBorderBottomColor;
        border-left-width: 0;
        border-right-width: 0;
      }
    }

    &.dropdownListBordered > li {
      border-bottom: 1px solid $dropdownListDividerBorderTopColor;

      &:last-child {
         border-bottom: none;
      }
    }
  }

  .dropdownLink {
    display: block;
    color: $dropdownLinkColor;
    text-decoration: none;
    padding: 0 18px;

    &:hover,
    &:focus {
      color: $dropdownLinkColor;
      text-decoration: none;
    }
  }
}
