/*doc
---
title: Box Foot
parent: box
name: z_boxFootBasic
category: Components
author: August
test: true
---

```html_example
<div class="box boxBasic backgroundBasic">
  <div class="boxBody">
    <p>I. Am. The. Body.</p>
  </div>
  <div class="boxFoot boxFootBasic">
    <p class="h7">If this is surprising, wait until you see boxHeader</p>
  </div>
</div>
```

*/


// BoxFootBasic Mixin
@mixin ooBoxFootBasic {

  .boxFootBasic {
    border-top: solid 1px $dividerColorLowlight;
  }
}
