/*doc
---
category: Forms
title: Select
name: forms_d0_select
---

```html_example
<form class="form">
  <div class="field">
    <label for="select" class="fieldLabel">Label with select</label>
    <span class="fieldItem select">
      <select id="select">
        <option value="">Any</option>
        <option value="0">Option 0</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
    </span>
  </div>
</form>
```

*/


// Form Class
.form {

  .select select {
    width: 100%;
    height: 35px;
    @extend %formFieldStyle;
  }
}
