/*doc

---
title: Tags
category: Components
name: tag
author: August Flanagan
---

Tags are an interactive component that can communicate either state or content, and can optionally trigger an action.
*/

// Tag Mixin
@mixin ooTag() {
  
  .tag {
    padding: 0.2em 0.6em 0.35em; // Bottom > top padding for best visuals
    display: inline-block;
    border: $borderDefaultWidth solid;
    border-radius: $borderRadiusDefault;
    box-shadow: 0 1px 0 $tagBasicBorderColor;
    text-shadow: 0 1px 0 $tagBasicShadowColor;
  }
}
