/*doc
---
title: Alerts
name: alert
category: Components
author: August Flanagan
---

Alerts are a common way of giving users information about an action they
took. They consist of a wrapper with the classes `box` and `alert` applied.
Since they rely on box component, they also need to have a subnode with
the class `boxBody`

*/


// Alert Mixin
@mixin ooAlert {
  .alert {
    @extend %baseSpacing;
    @include border-radius($borderRadiusSml);
    
    .boxClose {
      color: #fff;
    }
  }
}
