/*doc
---
title: Form Group
category: Forms
name: forms_f_fieldGroup
---

Use `fieldGroup` on `ul` if the list of form fields are related.

##List of radio buttons

```html_example
<form class="form">
  <div class="field">
    <label class="fieldLabel">Select your options</label>
    <ul class="fieldGroup">
      <li>
        <span class="fieldItem radio">
          <input type="radio" id="radiogroup1" name="radiogroup">
          <label for="radiogroup1">Label for radio button</label>
        </span>
      </li>
      <li>
        <span class="fieldItem radio">
          <input type="radio" id="radiogroup2" name="radiogroup">
          <label for="radiogroup2">Label for radio button</label>
        </span>
      </li>
      <li>
        <span class="fieldItem radio">
          <input type="radio" id="radiogroup3" name="radiogroup">
          <label for="radiogroup3">Label for radio button</label>
        </span>
      </li>
    </ul>
  </div>
</form>
```

##List of checkboxes

```html_example
<form class="form">
  <div class="field">
    <label class="fieldLabel">Select your option</label>
    <ul class="fieldGroup">
      <li>
        <span class="fieldItem checkbox">
          <input type="checkbox" id="checkboxgroup1" name="checkboxgroup">
          <label for="checkboxgroup1">Label for checkbox</label>
        </span>
      </li>
      <li>
        <span class="fieldItem checkbox">
          <input type="checkbox" id="checkboxgroup2" name="checkboxgroup">
          <label for="checkboxgroup2">Label for checkbox</label>
        </span>
      </li>
      <li>
        <span class="fieldItem checkbox">
          <input type="checkbox" id="checkboxgroup3" name="checkboxgroup">
          <label for="checkboxgroup3">Label for checkbox</label>
        </span>
      </li>
    </ul>
  </div>
</form>
```

##List of inputs

```html_example
<h5> List of inputs </h5>
<form class="form">
  <div class="field">
    <label class="fieldLabel">Your email addresses</label>
    <ul class="fieldGroup">
      <li>
        <label for="inputblock">Email address 0</label>
        <span class="fieldItem text">
          <input type="text" id="inputblock">
        </span>
      </li>
      <li>
        <label for="inputblock">Email address 1</label>
        <span class="fieldItem text">
          <input type="text" id="inputblock">
        </span>
      </li>
      <li>
        <label for="inputblock">Email address 2</label>
        <span class="fieldItem text">
          <input type="text" id="inputblock">
        </span>
      </li>
    </ul>
  </div>
</form>
```

##List of selects

```html_example
<h5>List of selects</h5>
<form class="form">
  <div class="field">
    <label class="fieldLabel">Select your options</label>
    <ul class="fieldGroup">
      <li>
        <label for="inputblock">Option 0</label>
        <span class="fieldItem select">
          <select id="inputblock">
            <option value="">Any</option>
            <option value="0">Option 0</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </span>
      </li>
      <li>
        <label for="inputblock">Option 1</label>
        <span class="fieldItem select">
          <select id="inputblock">
            <option value="">Any</option>
            <option value="0">Option 0</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </span>
      </li>
      <li>
        <label for="inputblock">Option 2</label>
        <span class="fieldItem select">
          <select id="inputblock">
            <option value="">Any</option>
            <option value="0">Option 0</option>
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>
          </select>
        </span>
      </li>
    </ul>
  </div>
</form>
```

*/


// Form Class
.form {
  
  .fieldGroup {
    margin: 0;
    @extend %formContext;

    > li {
      margin: 5px 0;

      > label {
        display: block;
        margin-bottom: 2px;
      }
    }
    &:before,
    &:after {
      display: table;
      content: '';
      clear: both;
    }
  }
}
