/*doc
---
title: Image Icons
name: iconInline
category: Base CSS
---

These icons work similarly to bootstrap icon fonts, but are static images instead.

## Available Icons

```html_example
<ul>
  <li><i class="iconSpinner"></i>iconSpinner</li>
  <li><i class="iconLargeSpinner"></i>iconLargeSpinner</li>
</ul>
```

*/


// IconInline Mixin
@mixin ooIconInline($name, $image, $margin, $hoverImage: "") {

  %iconImage {
    display:inline-block;
    content: '';
  }

  .icon#{$name}:before {
    @extend %iconImage;

    width: image-width($image);
    height: image-height($image);
    background-image: inline-image($image);
    vertical-align: middle;

    @if $margin {
      margin: $margin
    }
  }

  @if $hoverImage != "" {
    .icon#{$name}:hover::before {
      background-image: inline-image($hoverImage);
    }
  }
}


// IconImage Mixin
@mixin ooIconImage {
  @include ooIconInline("Spinner", "inline/spinner_dots.gif", 0 0 2px 0);
  @include ooIconInline("LargeSpinner", "inline/ajax_loader.gif", 0 0 2px 0);
}
