/*doc
---
title: Icons
name: icon
category: Base CSS
---

Flexport OOCSS uses the <a href="http://entypo.com">entypo icon font</a> for most icons.
These icons are just a font and can be styled and treated like any other typography element.

To use an icon simply find the icon in the list below and simply include the class listed next to the
icon in an `<i>` tag like this:

```html_example
<p><i class="iconUser"></i>John Doe</p>
<p class="typeHighlight"><i class="iconThumbsUp"></i>Nice Job!</p>
<p><a href="#"><i class="iconMail"></i>Contact Us</a></p>
```

## Available Icons
<ul class="list3cols">

  <li><h5 class="typeLowlight"> Core </h5>
  <li><i class="iconHome"></i>iconHome</li>
  <li><i class="iconMortgage"></i>iconMortgage</li>
  <li><i class="iconRent"></i>iconRent</li>
  <li><i class="iconAgent"></i>iconAgent</li>
  <li><i class="iconSearch"></i>iconSearch</li>
  <li><i class="iconStarEmpty"></i>iconStarEmpty</li>
  <li><i class="iconStar"></i>iconStar</li>
  <li><i class="iconHeart"></i>iconHeart</li>
  <li><i class="iconHeartEmpty"></i>iconHeartEmpty</li>
  <li><i class="iconMail"></i>iconMail</li>
  <li><i class="iconList"></i>iconList</li>
  <li><i class="iconPicture"></i>iconPicture</li>
  <li><i class="iconMap"></i>iconMap</li>
  <li><i class="iconThumbsUp"></i>iconThumbsUp</li>
  <li><i class="iconThumbsDown"></i>iconThumbsDown</li>
  <li><i class="iconBell"></i>iconBell</li>
  <li><i class="iconBasket"></i>iconBasket</li>
  <li><i class="iconDocs"></i>iconDocs</li>
  <li><i class="iconVideo"></i>iconVideo</li>
  <li><i class="iconCalendar"></i>iconCalendar</li>
  <li><i class="iconCamera"></i>iconCamera</li>
  <li><i class="iconClock"></i>iconClock</li>
  <li><i class="iconHourGlass"></i>iconHourGlass</li>
  <li><i class="iconFood"></i>iconFood</li>
  <li><i class="iconFuel"></i>iconFuel</li>

  <li><h5 class="typeLowlight"> Users / User Help </h5>
  <li><i class="iconUser"></i>iconUser</li>
  <li><i class="iconUsers"></i>iconUsers</li>
  <li><i class="iconVcard"></i>iconVcard</li>
  <li><i class="iconCog"></i>iconCog</li>
  <li><i class="iconInfo"></i>iconInfo</li>
  <li><i class="iconHelp"></i>iconHelp</li>
  <li><i class="iconTrophy"></i>iconTrophy</li>
  <li><i class="iconBookmark"></i>iconBookmark</li>
  <li><i class="iconAttention"></i>iconAttention</li>
  <li><i class="iconBlock"></i>iconBlock</li>
  <li><i class="iconFlag"></i>iconFlag</li>
  <li><i class="iconPrint"></i>iconPrint</li>

  <li><h5 class="typeLowlight"> UGC </h5>
  <li><i class="iconTag"></i>iconTag</li>
  <li><i class="iconQuote"></i>iconQuote</li>
  <li><i class="iconComment"></i>iconComment</li>
  <li><i class="iconChat"></i>iconChat</li>

  <li><h5 class="typeLowlight"> Social Media </h5>
  <li><i class="iconTwitter"></i>iconTwitter</li>
  <li><i class="iconFacebook"></i>iconFacebook</li>
  <li><i class="iconPinterest"></i>iconPinterest</li>
  <li><i class="iconLinkedin"></i>iconLinkedin</li>

  <li><h5 class="typeLowlight"> Inbox / Web </h5>
  <li><i class="iconCloud"></i>iconCloud</li>
  <li><i class="iconInbox"></i>iconInbox</li>
  <li><i class="iconFolder"></i>iconFolder</li>
  <li><i class="iconPencil"></i>iconPencil</li>
  <li><i class="iconReply"></i>iconReply</li>
  <li><i class="iconReplyAll"></i>iconReplyAll</li>
  <li><i class="iconForward"></i>iconForward</li>
  <li><i class="iconAttach"></i>iconAttach</li>

  <li><h5 class="typeLowlight"> Controls </h5>
  <li><i class="iconPopup"></i>iconPopup</li>
  <li><i class="iconPlus"></i>iconPlus</li>
  <li><i class="iconMinus"></i>iconMinus</li>
  <li><i class="iconTrash"></i>iconTrash</li>
  <li><i class="iconResizeFull"></i>iconResizeFull</li>
  <li><i class="iconResizeSmall"></i>iconResizeSmall</li>
  <li><i class="iconCheck"></i>iconCheck</li>
  <li><i class="iconCancel"></i>iconCancel</li>

  <li><h5 class="typeLowlight"> Arrows </h5>
  <li><i class="iconDownOpen"></i>iconDownOpen</li>
  <li><i class="iconLeftOpen"></i>iconLeftOpen</li>
  <li><i class="iconRightOpen"></i>iconRightOpen</li>
  <li><i class="iconUpOpen"></i>iconUpOpen</li>
  <li><i class="iconUp"></i>iconUp</li>
  <li><i class="iconDown"></i>iconDown</li>
  <li><i class="iconLeft "></i>iconLeft</li>
  <li><i class="iconRight"></i>iconRight</li>

  <li><h5 class="typeLowlight"> Mobile </h5>
  <li><i class="iconMenu"></i>iconMenu</li>
  <li><i class="iconExport"></i>iconExport</li>
  <li><i class="iconPhone"></i>iconPhone</li>
  <li><i class="iconMobile"></i>iconMobile</li>

  <li><h5 class="typeLowlight"> Maps / Local Info </h5>
  <li><i class="iconAddress"></i>iconAddress</li>
  <li><i class="iconLocation"></i>iconLocation</li>
  <li><i class="iconDirection"></i>iconDirection</li>
  <li><i class="iconCup"></i>iconCup</li>
  <li><i class="iconFlight"></i>iconFlight</li>
  <li><i class="iconGlobe"></i>iconGlobe</li>
  <li><i class="iconLeaf"></i>iconLeaf</li>
  <li><i class="iconGraduationCap"></i>iconGraduationCap</li>
  <li><i class="iconTicket"></i>iconTicket</li>
  <li><i class="iconRocket"></i>iconRocket</li>

  <li><h5 class="typeLowlight"> Data </h5>
  <li><i class="iconChartPie"></i>iconChartPie</li>
  <li><i class="iconChartLine"></i>iconChartLine</li>
  <li><i class="iconChartBar"></i>iconChartBar</li>
  <li><i class="iconChartArea"></i>iconChartArea</li>

</ul>

*/


// Icon Mixin
@mixin ooIcon {
  .icon {
    display: inline-block;
    vertical-align: middle;
  }
}

$icon-sprite-dimensions: true; //$<folder name>-sprite-dimensions

@import "icon/*.png";
@include all-icon-sprites;


@mixin ooIconFont {

  %entypoBase {
    font: {
      family: 'Entypo';
      style: normal;
      weight: normal;
    }
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    vertical-align: text-top;
    text-align: center;
    // For safety - reset parent styles, that can break glyph codes
    font-variant: normal;
    text-transform: none;
  }

  .iconFood:before {
    @extend %entypoBase; content: "\e601";
  }
  .iconDollarSign:before {
    @extend %entypoBase; content: "\e602";
  }
  .iconMortgage:before {
    @extend %entypoBase; content: "\e606";
  }
  .iconRent:before {
    @extend %entypoBase; content: "\e607";
  }
  .iconAgent:before {
    @extend %entypoBase; content: "\e609";
  }
  .iconHeartEmpty:before {
    @extend %entypoBase; content: "\e61b";
  }
  .iconHourGlass:before {
    @extend %entypoBase; content: "\e647";
  }
  .iconFuel:before {
    @extend %entypoBase; content: "\e800";
  }
  .iconPlus:before {
    @extend %entypoBase; content: "\e802";
  }
  .iconMinus:before {
    @extend %entypoBase; content: "\e803";
  }
  .iconStar:before {
    @extend %entypoBase; content: "\e805";
  }
  .iconStarEmpty:before {
    @extend %entypoBase; content: "\e806";
  }
  .iconHome:before {
    @extend %entypoBase; content: "\e807";
  }
  .iconMenu:before {
    @extend %entypoBase; content: "\e808";
  }
  .iconHeart:before {
    @extend %entypoBase; content: "\e809";
  }
  .iconFlag:before {
    @extend %entypoBase; content: "\e80a";
  }
  .iconCog:before {
    @extend %entypoBase; content: "\e80b";
  }
  .iconDownOpen:before {
    @extend %entypoBase; content: "\e80c";
  }
  .iconLeftOpen:before {
    @extend %entypoBase; content: "\e80d";
  }
  .iconRightOpen:before {
    @extend %entypoBase; content: "\e80e";
  }
  .iconUpOpen:before {
    @extend %entypoBase; content: "\e80f";
  }
  .iconDown:before {
    @extend %entypoBase; content: "\e810";
  }
  .iconLeft:before {
    @extend %entypoBase; content: "\e811";
  }
  .iconRight:before {
    @extend %entypoBase; content: "\e812";
  }
  .iconUp:before {
    @extend %entypoBase; content: "\e813";
  }
  .iconAttention:before {
    @extend %entypoBase; content: "\e814";
  }
  .iconCloud:before {
    @extend %entypoBase; content: "\e815";
  }
  .iconMail:before {
    @extend %entypoBase; content: "\e816";
  }
  .iconPencil:before {
    @extend %entypoBase; content: "\e817";
  }
  .iconCheck:before {
    @extend %entypoBase; content: "\e818";
  }
  .iconCancel:before {
    @extend %entypoBase; content: "\e819";
  }
  .iconHelp:before {
    @extend %entypoBase; content: "\e81a";
  }
  .iconQuote:before {
    @extend %entypoBase; content: "\e81b";
  }
  .iconDirection:before {
    @extend %entypoBase; content: "\e81c";
  }
  .iconForward:before {
    @extend %entypoBase; content: "\e81d";
  }
  .iconList:before {
    @extend %entypoBase; content: "\e81e";
  }
  .iconTag:before {
    @extend %entypoBase; content: "\e81f";
  }
  .iconReply:before {
    @extend %entypoBase; content: "\e820";
  }
  .iconReplyAll:before {
    @extend %entypoBase; content: "\e821";
  }
  .iconExport:before {
    @extend %entypoBase; content: "\e822";
  }
  .iconPrint:before {
    @extend %entypoBase; content: "\e823";
  }
  .iconComment:before {
    @extend %entypoBase; content: "\e824";
  }
  .iconChat:before {
    @extend %entypoBase; content: "\e825";
  }
  .iconVcard:before {
    @extend %entypoBase; content: "\e826";
  }
  .iconAddress:before {
    @extend %entypoBase; content: "\e827";
  }
  .iconLocation:before {
    @extend %entypoBase; content: "\e828";
  }
  .iconMap:before {
    @extend %entypoBase; content: "\e829";
  }
  .iconTrash:before {
    @extend %entypoBase; content: "\e82a";
  }
  .iconDocs:before {
    @extend %entypoBase; content: "\e82b";
  }
  .iconBasket:before {
    @extend %entypoBase; content: "\e82c";
  }
  .iconResizeFull:before {
    @extend %entypoBase; content: "\e82d";
  }
  .iconResizeSmall:before {
    @extend %entypoBase; content: "\e82e";
  }
  .iconPopup:before {
    @extend %entypoBase; content: "\e82f";
  }
  .iconInbox:before {
    @extend %entypoBase; content: "\e830";
  }
  .iconFlight:before {
    @extend %entypoBase; content: "\e831";
  }
  .iconTwitter:before {
    @extend %entypoBase; content: "\e832";
  }
  .iconFacebook:before {
    @extend %entypoBase; content: "\e833";
  }
  .iconLinkedin:before {
    @extend %entypoBase; content: "\e834";
  }
  .iconPicture:before {
    @extend %entypoBase; content: "\e835";
  }
  .iconGlobe:before {
    @extend %entypoBase; content: "\e836";
  }
  .iconLeaf:before {
    @extend %entypoBase; content: "\e837";
  }
  .iconGraduationCap:before {
    @extend %entypoBase; content: "\e838";
  }
  .iconTicket:before {
    @extend %entypoBase; content: "\e839";
  }
  .iconVideo:before {
    @extend %entypoBase; content: "\e83a";
  }
  .iconTrophy:before {
    @extend %entypoBase; content: "\e83b";
  }
  .iconThumbsUp:before {
    @extend %entypoBase; content: "\e83c";
  }
  .iconThumbsDown:before {
    @extend %entypoBase; content: "\e83d";
  }
  .iconUser:before {
    @extend %entypoBase; content: "\e83e";
  }
  .iconUsers:before {
    @extend %entypoBase; content: "\e83f";
  }
  .iconFolder:before {
    @extend %entypoBase; content: "\e840";
  }
  .iconCalendar:before {
    @extend %entypoBase; content: "\e841";
  }
  .iconChartPie:before {
    @extend %entypoBase; content: "\e842";
  }
  .iconChartLine:before {
    @extend %entypoBase; content: "\e843";
  }
  .iconChartBar:before {
    @extend %entypoBase; content: "\e844";
  }
  .iconChartArea:before {
    @extend %entypoBase; content: "\e845";
  }
  .iconAttach:before {
    @extend %entypoBase; content: "\e846";
  }
  .iconPhone:before {
    @extend %entypoBase; content: "\e847";
  }
  .iconMobile:before {
    @extend %entypoBase; content: "\e848";
  }
  .iconCamera:before {
    @extend %entypoBase; content: "\e849";
  }
  .iconSearch:before {
    @extend %entypoBase; content: "\e84a";
  }
  .iconBell:before {
    @extend %entypoBase; content: "\e84b";
  }
  .iconBookmark:before {
    @extend %entypoBase; content: "\e84c";
  }
  .iconClock:before {
    @extend %entypoBase; content: "\e84d";
  }
  .iconBlock:before {
    @extend %entypoBase; content: "\e84e";
  }
  .iconRocket:before {
    @extend %entypoBase; content: "\e84f";
  }
  .iconPinterest:before {
    @extend %entypoBase; content: "\e850";
  }
  .iconCup:before {
    @extend %entypoBase; content: "\e851";
  }
  .iconInfo:before {
    @extend %entypoBase; content: "\e804";
  }

}
