/*doc
---
title: Image Icons
name: iconInline
parent: icon
---

These icons work similarly to icon fonts, but are static images instead.

```html_example
<ul>
  <li class="backgroundMidnight"><i class="iconLogo"></i></li>
  <li><i class="iconLogoColor"></i></li>
</ul>
```
*/

%iconImage {
  display:inline-block;
  content: '';
}

// IconInline Mixin
@mixin ooIconInline($name, $image) {

  .icon#{$name}:before {
    @extend %iconImage;
    width: image-width($image) / 2;
    height: image-height($image) / 2;
    background-size: cover;
    background-image: inline-image($image);
    vertical-align: middle;
  }
}

// IconImage Mixin
@mixin ooIconImage {

}
